<!DOCTYPE html>
<html lang="en">
<head4>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>找回密码</title>
    <link rel="stylesheet" href="zhaohuimima.css">
</head4>
<body>
    <form action="" class="zhuce">
        <p>找回密码</p>
        <input type="text" placeholder="请输入邮箱">
        <input type="password" placeholder="重设密码">
        <input type="text" placeholder="输入验证码">
        <a href="yanzhengma.html" target="_blank"><input type="button" class="yzm" value="获取验证码"></a>
        <a href="login.html" target="_top"><input type="button" class="btn" value="修改密码"></a>
    </form>
    <body background="image/shouye4k.jpg"></body>
</body>
</html>